<footer>
    <div class="f-info mb-0">
        <div class="f-info-socials">
            <a href="https://github.com/KishanKRavi"><i class="fa-brands fa-github"></i> </a>
            <a href="https://www.instagram.com/kishan_k_r_/"></a><i class="fa-brands fa-instagram"></i> </a>
            <a href="https://www.linkedin.com/in/kishan-k-r/"></a><i class="fa-brands fa-linkedin"></i> </a>
            <a href="https://www.hackerrank.com/profile/kishankr0204"></a><i class="fa-brands fa-hackerrank"></i> </a>

        </div>
        <div class="f-info-brand"> &copy; RetreatZone Private Limited </div>

        <div class="f-info-links">
            <a href="/Privacy"> Privacy</a> &nbsp;&nbsp;
            <a href="/Terms"> Terms </a>
        </div>
    </div>
</footer>