
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top mb-4">

    <div class="container-fluid">
      <a class="navbar-brand style hovertitle headings" href="/listings"><i class="fa-solid fa-building"></i> RetreatZone</a>

      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link hovertitle "  href="/listings">Explore</a>
          <a class="nav-link  hovertitle" href="/listings/new">Rent Your Zone</a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 navSearchBar" type="search" placeholder="Search by location/destintion" aria-label="Search">
            <button class="btn btn-outline-success navSearch" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div> 


        <div class="navbar-nav ms-auto">

          <% if(!currUser) { %>  
          <a class="nav-link btn-delete hover"  href="/signup"><b>Sign up</b></a>
          <a class="nav-link btn-delete hover " href="/login"><b>Log in</b></a>
          <% } %> <% if(currUser) { %>
          <a class="nav-link btn-delete hover" href="/logout">Log out</a>
          <% } %>
        </div>

      </div>
    </div>
  </nav>