<% layout("/layouts/boilerplate.ejs") %>
<body>
  <br><br><br>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Error "<%= status %> ", <%= message %>
    <form action="/listings" method="get">
      <button type="submit" class="btn-close" aria-label="Close"></button>
    </form>
  </div>

  <br><br><br><br><br><br><br><br>
    
</body>
