
body {
    font-family: "Comfortaa", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}
.headings{
  font-family: "Bad Script", cursive !important;
  font-optical-sizing: auto;
  font-weight:700 !important;
  font-style: normal;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    /* height: 5rem; */
    background-color: white;
    
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;

}

.nav-link {
    /* !important must override other style and apply it  */
    color: #222222 !important;  
}

/* Footer */
.f-info-links a {
    text-decoration: none;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 7rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 15rem !important;
    border-radius: 10px !important;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-top:hover {
    box-shadow: 10px 10px 10px gray;
    
    transform: scale(1.05                                                                                                                                                   );
}

/* new page */
.btn {
    background-color:#fe424d  ;
    border: none !important;
}

/* add new page form*/
#all {
    background-color:#b6b6b61d;
    margin:auto;
    padding: 15px;
    border-radius: 15px;
}

.newform {
    padding: 20px; 
}

/* Edit page form */
.editbtn {
    border: none !important;
    color: white;
}

.btn-delete {
    border: none !important;
    color: white !important;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #fe424d !important;
}

#all2 {
    opacity: 2;
    margin:auto;
    padding: 15px;
    border-radius: 15px;
}

.editform {
    padding: 20px; 
}

/* show page */
.show-img {
    height: 35vh;
}

.btn1 {
    display: flex;
}

.navSearch{
    border-radius: 25px !important;
    border: 1px solid rgba(162, 162, 162, 0.364) !important;
    padding: auto !important;
    margin: auto !important;
}
.d-flex{
    margin-left: -8rem !important;
}

.navSearch:hover{
    background-color: #fe424d !important;
    
}
.navSearchBar{

    width: 20rem !important;
    border-radius: 25px !important;
    font-size: small !important;
}

/* for title RetreatZone */
.style{
    color: #fe424d !important;
  }

.hover:hover{
    background-color: #222222 !important;
    color: white !important;
}
.hovertitle:hover{
    color:black !important;
}

#filters {
    display: flex;
    flex-wrap: nowrap;
    
  }

  .filter {
    text-align: center;
    font-size: 10px;
    margin: auto;
    padding: 10px;
    opacity: 0.7;
  }
  .filter i {
    font-size: 1.5rem;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
    color:#fe424d;
  }
  
  .tax-info {
    display: none;
  }

  .tax-switch {
    border: 1px solid black !important;
    border-radius:  1rem;
    height: 3rem;
    padding: 0 1.5rem 0 1.2rem;
    margin-left: 82%;
    align-items: center;
    display: flex;
  }
.f-info{
    position:relative;
    bottom: 0px !important;
    width: 100vw;
}

.flexbtn{
    display: flex;
    justify-content:space-between;
}

.reviewCard{
    margin: 1rem;
    padding: 1rem;
    height: 12rem !important;
    width: 25rem !important;
}

.reviewBox{

    height: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items:; */
   
}

#map{
    border-radius: 10px;
}